ul {

    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .5s;


    height: 50px; /*задаем высоту*/
}



#centeredmenu {
    float:left;
    width:100%;
    margin: 0 ;
    background: rgb(0, 207, 221);
    border-bottom:4px solid #f1d26d;
    overflow:hidden;
    position:relative;
}
#centeredmenu ul {
    clear:left;
    float:left;
    list-style:none;
    background: none ;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
}
#centeredmenu ul li {
    display:block;
    float:left;
    list-style:none;
    margin-top: 0; /*     margin-top: 20%; /* Отступ сверху */
    /*padding: 0;*/
    position:relative;
    right:50%;
}
#centeredmenu ul li a {
    border-radius: 20px;
    border: 0.5px solid rgb(0, 253, 253); /* Параметры рамки */
    display:block;
    margin:0 0 0 1px;
    padding:3px 10px;
    background: rgb(0, 253, 253);
    color: #023d47;
    text-decoration:none;
    line-height:1.3em;
}
#centeredmenu ul li a:hover {
    background: #b4f5f8;
    color: #00a2b9;
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
    color: #db2626;
    background:#000;
    font-weight:bold;
}


#centeredmenu2 {
    float:left;
    width:100%;
    margin: 0 ;

    overflow:hidden;
    position:relative;
}
#centeredmenu2 ul {
    clear:left;
    float:left;
    list-style:none;
    background: none ;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
}
#centeredmenu2 ul li {
    display:block;
    float:left;
    list-style:none;
    margin-top: 0; /*     margin-top: 20%; /* Отступ сверху */
    /*padding: 0;*/
    position:relative;
    right:50%;
}
#centeredmenu2 ul li a {
    border-radius: 20px;
    border: 2px solid rgb(243, 209, 120); /* Параметры рамки */
    display:block;
    margin:0 0 0 1px;
    padding:3px 10px;
    background: rgb(243, 209, 120);
    color: #023d47;
    text-decoration:none;
    line-height:1.3em;
}
#centeredmenu2 ul li a:hover {
    background: #b4f5f8;
    color: #00a2b9;
}
#centeredmenu2 ul li a.active,
#centeredmenu2 ul li a.active:hover {
    color: #68bf1c;
    background:#000;
    font-weight:bold;
}

#bart_logo_mini {
    background: rgb(0, 253, 253);
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}